/* fonts */
@import url("font/font.css");

/* Base Styling */
body,html {
  height: 100%;
}

body {
	background: url('../img/orange-static-maze-bg.gif') #fe422b;
	font: normal normal 13px 'ProximaNova_Semibold', Helvetica, Arial, sans-serif;
	color: #666;
}

a {
	color:#fe422b;	
	opacity: 1;

	-webkit-transition: opacity 200ms linear;
	-moz-transition: opacity 200ms linear;
	-o-transition: opacity 200ms linear;
	-ms-transition: opacity 200ms linear;
	transition: opacity 200ms linear;
}
a:hover { opacity: 0.7; filter:alpha(opacity=70); text-decoration:none; color:#fe422b; }

/* Custom containers */
.container  {
	margin: 0 auto;
	max-width:940px;
}

.container-fluid {
  margin: 0 auto;
  max-width: 860px;
  padding:0 20px;
}

.bg-container {background-color:#fff;}

.main-wrapper {
	/*min-height:700px;*/
	margin-top:-12px;
	padding-top:20px;
	padding-bottom:20px;
}

/* Header */
#header {padding:20px;}

#header .logo {
	width:175px;
	margin-right:20px;
}

/* entry progress bar */

.entry-progress-bar {
  height: 24px;
  background: #f4f4f4;
  border: 2px solid #ece7e6;
  font-family: 'ProximaNova_Bold';
  font-size: 11px;
  line-height: 24px;
  position: relative;
}

.entry-progress-bar-fill {
  background: #fb3f28;
  height: 24px;
  overflow: hidden;
}

.entry-progress-text {
  position: absolute;
  color: #c7bebe;
  width: 100%;
  text-align: center;
}

.big-rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

/* Ribbon */

.ribbon {
	background-color:#ece7e6;
	text-align:center;
	padding:10px 20px;
	border-bottom:1px solid #ded8d7;	
}

.ribbon h1 {
	font: normal normal 36px/40px 'EurostileExtended_Black', Helvetica, Arial, sans-serif;
	color: #37363d;
	text-transform:uppercase;
	text-shadow:#fff 1px 1px;
}

.corner-left {
	background:url('../img/img_corner.png') 0 0 no-repeat;
	margin-top:-1px;
	width:20px;
	height:13px;
}

.corner-right {
	background:url('../img/img_corner.png') -20px 0 no-repeat;
	margin-top:-1px;
	width:20px;
	height:13px;
}


/* Survey Headline */

.survey-headline {
	text-align:center;
	margin:10px 0 40px;
	position: relative;
	z-index: 1;
	
}

/*.survey-ribbon h2 {
	font: normal normal 30px/30px 'ProximaNova_Extrabold', Helvetica, Arial, sans-serif;
	color:#1889c8;
	text-shadow:#a3deff 1px 1px;
	text-align:center;
	padding:16px 13%;
	background-color: #6ac1f2;
	display:inline-block;
	
}*/


.ribbon-new {
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */


 position: relative;
 width:50%;
 font: normal normal 30px/30px 'ProximaNova_Bold', Helvetica, Arial, sans-serif;
 color:#1889c8;
 text-shadow:#a3deff 1px 1px;
 text-align: center;
 background-color: #6ac1f2;
 padding: 0.6em 1em; /* Adjust to suit */
 margin: 0 auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon-new:before, .ribbon-new:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -0.5em;
 border: 1em solid #4baee5;
 z-index: -1;
}

.ribbon-new:before {
 left: -1.25em;
 border-right-width: 1em;
 border-left-color: transparent;
}

.ribbon-new:after {
 right: -1.25em;
 border-left-width: 1em;
 border-right-color: transparent;
}
.ribbon-new .ribbon-content:before, .ribbon-new .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #1889c8 transparent transparent transparent;
 bottom: -0.5em;
}

.ribbon-new .ribbon-content:before {
 left: 0;
 border-width: 0.5em 0 0 0.75em;
}
.ribbon-new .ribbon-content:after {
 right: 0;
 border-width: 0.5em 0.75em 0 0;
}

/*.survey-ribbon-left {
	
	background:url('../img/survey-ribbon-corner.png') 0 0 no-repeat;
	margin-top:10px;
	width:50px;
	height:68px;
}*/


/* ribbon style */




/* Footer Links */

.footer-links {text-align:center;}
.footer-links ul {
	display:inline-table;	
	margin:15px;
}
.footer-links ul li {
	display:inline;
	padding:0 10px;
}
.footer-links ul li a {color:#fff;}


/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
		
		.container {width:100%;}
		.container-fluid {
			margin-right: 20px;
			margin-left: 20px;
		  }
		  
		  
		
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
		body {
			padding-right: 0px;
			padding-left: 0px;
		}		
		.container-fluid {
			margin-right: 20px;
			margin-left: 20px;
		}	    
		
		#header .span6 {display:none;}
		#header .logo {
			float:none;
			width:200px;
			margin:0px auto;
		}
		
		.ribbon-new  { font-size:26px; line-height:26px; width:70%; padding: 0.6em 0.5em;}		
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
		.ribbon h1 {font-size:26px; line-height:28px;}
		.ribbon-new  { font-size:22px; line-height:22px; width:80%; padding: 0.6em 0.5em;}		
 }